################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StageDesigner/bin/Debug
/StageDesigner/obj/Debug
/GameData/StageDesigner/Plugins
